!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      OSC Web interface

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    %script{:src => "/javascripts/jquery-1.11.1.min.js", :type => "text/javascript"}  
    %script{:src => "/javascripts/jquery-ui.min.js", :type => "text/javascript"}  
    %script{:src => "/javascripts/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.osc.js", :type => "text/javascript"}
    %script{:src => "/javascripts/demos.js", :type => "text/javascript"}

    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/jquery-ui.min.css", :media => "screen"}



  %body
    .container-fluid
      %h1 Open Sound Control (OSC) web interface
      .row-fluid
        .span8
          %form.form.osc-text-form{autocomplete: 'off'}
            %fieldset
              %legend Input an OSC message
              %label OSC address
              %input{type: 'text', name: 'message_address', autocomplete: 'off', placeholder: 'ex: /synth/filter'}
              %label OSC parameter
              %input{type: 'text', name: 'message_parameter', autocomplete: 'off'}
              %label Parameter Type
              %select{name: 'parameter_type', autocomplete: 'off'}
                %option{value: 'String'}String
                %option{value: 'Float'}Float
              %button.submit{type: 'submit', autocomplete: 'off'} Send Message
            .row
              .span2.status Status:
              %img.spinner{:src => 'spinner.gif', :style => 'display:none'}
          
          %form.form-inline.osc-slider-form{autocomplete: 'off'}
            %fieldset
              %legend OSC interface with 1 slider parameter
              %label OSC address
              %input{type: 'text', name: 'message_address', autocomplete: 'off', placeholder: 'ex: /synth/filter'}
              %label Parameter (0-1)
              .slider.vertical
              %img.spinner{:src => 'spinner.gif', :style => 'display:none'}
          
          %form.form-inline.osc-slider-form{autocomplete: 'off'}
            %fieldset
              %legend OSC interface with 2 slider parameters
              %label OSC address
              %input{type: 'text', name: 'message_address', autocomplete: 'off', placeholder: 'ex: /synth/filter'}
              %label Parameter (0-1)
              .slider.vertical
              .span4
                .slider.horizontal
                %img.spinner{:src => 'spinner.gif', :style => 'display:none'}
          
          %form.form-inline.osc-radio-form{autocomplete: 'off'}
            %fieldset
              %legend OSC interface with string parameters
              %label OSC address
              %input{type: 'text', name: 'message_address', autocomplete: 'off', placeholder: 'ex: /synth/filter'}
              %label Parameter 
              %input{type: 'radio', name: 'message_parameter', value: 'up'} Up
              %input{type: 'radio', name: 'message_parameter', value: 'down'} Down
              %input{type: 'radio', name: 'message_parameter', value: 'up_and_down'} Up and Down
              %input{type: 'radio', name: 'message_parameter', value: 'random'} Random
              %img.spinner{:src => 'spinner.gif', :style => 'display:none'}




        .span4
          %table.table.table-bordered.message-log
            %caption Messages Log:
            %tbody
